<section id="skills" class="skills">
    <div class="container-fluid">
        <h1 class="text-center">HABILIDADES</h1>
        <p>A continuación, presento algunas de las habilidades que poseo, tanto técnicas como de naturaleza más personal, que considero relevantes para mi desenvolvimiento en el ámbito laboral.</p>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <ul class="mb-5">
                    <h2>Front-End</h2>
                    <li>
                        <div class="progress_icon"> <i style="color: #d84d2c;" class="fab fa-html5"></i></div>
                        <h4>HTML <span>%</span> <span class="conteo">45</span></h4>
                        <div class="bar"> <span class="html"></span></div>
                    </li>
                    <li>
                        <div class="progress_icon"> <i style="color: #2cb3d8a8;" class="fab fa-css3"></i></div>
                        <h4>CSS <span>%</span> <span class="conteo">60</span></h4>
                        <div class="bar"> <span class="css"></span></div>
                    </li>
                    <li>
                        <div class="progress_icon"> <i style="color: #dbcd24;" class="fab fa-js"></i></div>
                        <h4>Javascript <span>%</span> <span class="conteo">10</span></h4>
                        <div class="bar"> <span class="js"></span></div>
                    </li>
                    <li>
                        <div class="progress_icon"> <i style="color: #a91ec3;" class="fab fa-bootstrap"></i></div>
                        <h4>Bootstrap <span>%</span> <span class="conteo">35</span></h4>
                        <div class="bar"> <span class="bootstrap"></span></div>
                    </li>
                    <li>
                        <div class="progress_icon"> <i style="color: #db2228;" class="fab fa-angular"></i></div>
                        <h4>Angular <span>%</span> <span class="conteo">55</span></h4>
                        <div class="bar"> <span class="angular"></span></div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <ul class="mb-5">
                    <h2>Back-End</h2>
                    <li>
                        <div class="progress_icon"> <i style="color: #fff;" class="fab fa-java"></i></div>
                        <h4>Java <span>%</span> <span class="conteo">20</span></h4>
                        <div class="bar"> <span class="java"></span></div>
                    </li>
                    <li>
                        <div class="progress_icon"> <i style="color: #0c9ec6a8;" class="fa-solid fa-database"></i></div>
                        <h4>MySQL<span>%</span> <span class="conteo">30</span></h4>
                        <div class="bar"> <span class="mysql"></span></div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <ul class="mb-5">
                    <h2>Soft-Skills</h2>
                    <li>
                        <div class="progress_icon"> <i style="color: #28ae6f;" class="fa-solid fa-comments"></i></div>
                        <h4>Comunicación <span>%</span> <span class="conteo">45</span></h4>
                        <div class="bar"> <span class="comunicacion"></span></div>
                    </li>
                    <li>
                        <div class="progress_icon"> <i style="color: #28ae6f;" class="fa-solid fa-people-group"></i></div>
                        <h4>Trabajo en Equipo <span>%</span> <span class="conteo">75</span></h4>
                        <div class="bar"> <span class="equipo"></span></div>
                    </li>
                    <li>
                        <div class="progress_icon"> <i style="color: #28ae6f;" class="fa-solid fa-lightbulb"></i></div>
                        <h4>Creatividad <span>%</span> <span class="conteo">80</span></h4>
                        <div class="bar"> <span class="creatividad"></span></div>
                    </li>
                    <li>
                        <div class="progress_icon"> <i style="color: #28ae6f;" class="fa-solid fa-laptop-file"></i></div>
                        <h4>Dedicacion <span>%</span> <span class="conteo">65</span></h4>
                        <div class="bar"> <span class="dedicacion"></span></div>
                    </li>
                    <li>
                        <div class="progress_icon"> <i style="color: #28ae6f;" class="fa-solid fa-list-check"></i></div>
                        <h4>Gestion de Proyectos <span>%</span> <span class="conteo">35</span></h4>
                        <div class="bar"> <span class="gesproyectos"></span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
