.skills{
    margin-left:300px;
    transition: 0.4s;
    background-color: var(--sideBGColor);
    padding: 40px 30px;
    padding-bottom: 80px;
}
.skills h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Righteous';
    color: #fefefe;
}
.skills p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: justify;
    color: #fefefe;
}
.skills h2{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    text-align: center;
    color: #fefefe;
    margin-bottom: 5px;
    margin-top: 5px;
}
.progress_icon{
    color: #eee;
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
}
.skills h4{
    color: var(--themeColor);
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
}
.skills h4 span{
    float: right;
    padding-bottom: 4px;
}
.skills ul {
    list-style: none;
}
.skills ul li{
    padding: 10px 30px;
}
.bar{
    height: 6px;
    background-color: #eeeeee52;
    border-radius: 5px;
    margin-top: 10px;
}
.bar span{
    height: 6px;
    float: left;
    border-radius: 5px;
}
.html{
    background-color: #d84d2c;
    width: 45%;
    animation: html 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}
.css{
    background-color: #2cb3d8a8;
    width: 60%;
    animation: css 3s;
}
@keyframes css{    
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
.js{
    background-color: #dbcd24;
    width: 10%;
    animation: js 3s;
}
@keyframes js{    
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
}
.bootstrap{
    background-color: #a91ec3;
    width: 35%;
    animation: bootstrap 3s;
}
@keyframes bootstrap{    
    0%{
        width: 0%;
    }
    100%{
        width: 35%;
    }
}
.angular{
    background-color: #db2228;
    width: 55%;
    animation: angular 3s;
}
@keyframes angular{    
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}
.java{
    background-color: #ffffff;
    width: 20%;
    animation: java 3s;
}
@keyframes java{    
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}
.mysql{
    background-color: #0c9ec6a8;
    width: 30%;
    animation: mysql 3s;
}
@keyframes mysql{    
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
.comunicacion{
    background-color: #28ae6f;
    width: 45%;
    animation: comunicacion 3s;
}
@keyframes comunicacion{    
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}
.equipo{
    background-color: #28ae6f;
    width: 75%;
    animation: equipo 3s;
}
@keyframes equipo{    
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
.creatividad{
    background-color: #28ae6f;
    width: 80%;
    animation: creatividad 3s;
}
@keyframes creatividad{    
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.dedicacion{
    background-color: #28ae6f;
    width: 65%;
    animation: dedicacion 3s;
}
@keyframes dedicacion{    
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
.gesproyectos{
    background-color: #28ae6f;
    width: 35%;
    animation: gesproyectos 3s;
}
@keyframes gesproyectos{    
    0%{
        width: 0%;
    }
    100%{
        width: 35%;
    }
}
@media only screen and (max-width: 1050px){
    .skills{
        margin-left: 0;
    }
}
